.btn-primary1 {
  color: #fff;
  background: linear-gradient(35deg, #364c8e, rgb(0, 0, 0));
  width: 150px;
  text-align: center;

}
.btn-primary1:hover {
  color: #fff;
  background: linear-gradient(35deg, #000, #364c8e);
  transition-delay: 9000ms;
  
}

.btn1 {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}





  @media (max-width:992px) {

      .par1{
        margin: 0 auto;
        width: 90%;
        box-shadow: 0 14px px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-radius: 20px;
        border: 5px solid white;        
      }
      .parallax-view4{
        display:flex;
        justify-content:center;
        align-items:center;
        height:0vh;
        width:100%;
        background-size: cover;
        background-blend-mode: color;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
        background-attachment: fixed;
      }
      .parallax-view2{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
       
        background-size: cover;
        background-blend-mode: color;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
        background-attachment: fixed;
      }
      .solid-viewtop{
        display:flex;
        justify-content:center;
        align-items:center;
        height:100vh;
        width:100%;
        background-size: cover;
        background-blend-mode: color;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
        background-attachment: fixed;
      }
      .solid-viewbottom{
        display:flex;
        justify-content:center;
        align-items:center;
        height:20vh;
        width:100%;
        background-size: cover;
        background-blend-mode: color;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
        background-attachment: fixed;
      }
      .southern{
        margin-bottom: 10rem;
        font-size: 3rem;
        text-align: center;
      }
    }

@media (min-width:992px){
  .southern{
    margin-bottom: 10rem;
    font-size: 4rem;
  }
  .par1{
    margin: 0 auto;
    width: 60%;
    box-shadow: 0 14px px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 20px;
    border: 5px solid white;        
  }
  .parallax-view4{
    display:flex;
    justify-content:center;
    align-items:center;
    height:110vh;
    width:100%;
    background-size: cover;
    background-blend-mode: color;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
    background-attachment: fixed;
  }
  .parallax-view2{
    display:flex;
    justify-content:center;
    align-items:center;
    height:20vh;
    width:100%;
    position: relative;
    z-index: 2;
    background-size: cover;
    background-blend-mode: color;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
    background-attachment: fixed;
  }
  .solid-viewtop{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    width:100%;
    background-size: cover;
    background-blend-mode: color;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
    background-attachment: fixed;
  }
  .solid-viewbottom{
    display:flex;
    justify-content:center;
    align-items:center;
    height:20vh;
    width:100%;
    background-size: cover;
    background-blend-mode: color;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, #536ebf 50%, rgba(0,0,0,0.9920343137254902) 80%), url('https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg');
    background-attachment: fixed;
  }
}
@media (min-width:1600px){
  .southern{
    margin-bottom: 10rem;
    font-size: 6rem;
  }
}


 
.down{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position: absolute;
  transform: translate(-50%,-50%);
  left:50%;
  top: 70%;
  overflow: hidden;
}
.down1{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position: relative;
  left:-50vw;
  top: 40vh;
  overflow: hidden;
}


.bg-gradient-primary-to-secondary1 {
  background: #360033;
  background: -webkit-linear-gradient(to right, #364c8e, #000000);
  background: linear-gradient(to right, #364c8e, #000000);
  background-size: 400% 400%;
  animation: body 15s infinite ease-in-out;
}

.ag-ghost-block {
  height: 100%;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/ghost/images/room.jpg) no-repeat scroll 50% 0 #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: relative;
}
.ag-ghost-block::before {
  content: "";
  height: 295px;
  width: 186px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/ghost/images/ghost.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
  position: absolute;
  left: -10em;
  top: 60%;
  image-rendering: -webkit-optimize-contrast;
  -webkit-animation: an-ghost 22s linear infinite;
  -moz-animation: an-ghost 22s linear infinite;
  -o-animation: an-ghost 22s linear infinite;
  animation: an-ghost 22s linear infinite;
}

@-webkit-keyframes an-ghost {
  10% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  85% {
    opacity: 0;
  }
  100% {
    left: 62.5em;
    opacity: 0;
  }
}
@-moz-keyframes an-ghost {
  10% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  85% {
    opacity: 0;
  }
  100% {
    left: 62.5em;
    opacity: 0;
  }
}
@-o-keyframes an-ghost {
  10% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  85% {
    opacity: 0;
  }
  100% {
    left: 62.5em;
    opacity: 0;
  }
}
@keyframes an-ghost {
  10% {
    opacity: 0;
  }
  50% {
    opacity: .3;
  }
  85% {
    opacity: 0;
  }
  100% {
    left: 62.5em;
    opacity: 0;
  }
}

/* Container needed to position the button. Adjust the width as needed */
.containerbtn {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.containerbtn img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.containerbtn .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.containerbtn .btn:hover {
  background-color: black;
}