.portImg{
  padding: 8rem;
  padding-top: 1rem;
padding-bottom: 0rem;
  width: 70%;
  height: auto;
  margin-bottom:0 ;
  margin: 0 auto;
}

@media (max-width:992px){
  .portImg{
    padding: 1rem;
    width: 100%;
  }
}


.rp{
  width: 100vw;
  background: #000000;
height: 100%;
}
