.portfolioSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    font-family: Roboto;
    color: white;
}
.parallax {
    background: url('/UIpractice/Assets/railroadpark.jpg') repeat fixed 100%;
    background-color: black;
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.containerPort {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .item {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 410px;
    width: 100%;
    text-align: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.541), 0 15px 12px rgba(0, 0, 0, 0.479);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.712);
  }
  
  .item:hover{
    cursor: pointer;
  }
  
  .item *{
    transition: all 0.35s ease-in-out;
  }
  
  .images {
    max-width: 100%;
  vertical-align: top;
  height: 310px;
 
  }
  
  .item:hover img {
    opacity: 0;
  }
  
  .text{
    width: 80%;
    height: 90%;
    position: absolute;
    top: -100px;
    left: 10%;
    background: -webkit-linear-gradient(45deg,#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .text h3{
    color: black;
  }
  
  .item:hover .text{
    top: 20%;
  }
  
  .item:hover .button{
    bottom: 20%;
    color: black;
  }
  
  .item .button{
    position: absolute;
    bottom: -100px;
    left: 25%;
    width: 50%;
    border: 3px solid blueviolet;
    padding: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover{
    background-color: blueviolet;
    color: #ffffff;
  }
  
  /* Modal */
  
  .modalPort {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    margin-top: 1rem;
  }
  
  .modal-contentPort {
    background-color: #F5F5F5;
    margin: 5% auto;
    box-sizing: border-box;
    width: 700px;
    max-height: 714px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
@media screen and (max-width: 798px) {
    .modalPort{
        width: 100vmin;
        height: 100vmax;
        margin: 5% auto;
    }

    .modal-contentPort{
        width: 95vmin;
        height: auto;
        margin-top: 1rem;
    }
}


  .scale{
    animation: scale 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes scale{
    from{transform: scale(0);}
    to{transform: scale(1);}
  }
  
  #img{
    width: 100%;
    height: 450px;
  }
  
  #details{
    padding: 25px;
    text-align: left;
    position: relative;
    height: 264px;
    box-sizing: border-box;
    border-top: 1px solid #363638;
  }
  
  #details *{
    transition: all .3s;
    color: black;
  }
  
  #title{
    color: black;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  #details .button{
    position: absolute;
    width: 30%;
    background: linear-gradient(35deg, #da22ff, #9733ee);
    color: #272727;
    text-align: center;
    left: 25px;
    bottom: 35px;
    padding: 15px;
    border-radius: 3px;
  }

  
  #details i{
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg,#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #details .button:hover,
  i:hover{
    cursor: pointer;
    opacity: 1;
    color: white;
    box-shadow: 0px 15px 20px rgba(137, 43, 226, 0.61);
    transform: translateY(-7px);
  }
  
  /* Close Button */
  .close1 {
    color: rgb(19, 19, 19);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
 
  }
  
  .close1:hover,
  .close1:focus,
  .xbtn {
    color: #f70202;
    text-decoration: none;
    cursor: pointer;
  }

 



  