.portfolioSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    font-family: Roboto;
    color: white;
}
.parallax {
    background: url('/UIpractice/Assets/railroadpark.jpg') repeat fixed 100%;
    background-color: #9f1ae293;
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.containerPort {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .item {
    
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 410px;
    width: 100%;
    text-align: center;
    box-shadow: 20px 19px 40px rgb(63, 63, 63), 0 15px 12px rgb(255, 255, 255);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.712);
  }
  
  .item:hover{
    cursor: pointer;
    
  }
  
  .item *{
    transition: all 0.35s ease-in-out;
   
  }
  
  .images {
    max-width: 100%;
  vertical-align: top;
  height: 310px;
 
  }
  
  .item:hover img {
    opacity: 0;
  }
  
  .text{
    width: 80%;
    height: 90%;
    position: absolute;
    top: -120px;
    left: 10%;
   color:  rgb(39, 39, 39);
  }
  
  .text h3{
    color:  rgb(39, 39, 39);
  }
  
  .item:hover .text{
    top: 20%;
  }
  
  .item:hover .button{
    bottom: 20%;
    color: black;
  }
  
  .item .button{
    position: absolute;
    bottom: -100px;
    left: 25%;
    width: 50%;
    border: 3px solid black;
    padding: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover{
    background-color: rgb(255, 255, 255);
    color: #000000;
  }
  
  /* Modal */
  
  .modalPort {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    margin-top: 1rem;
  }
  
  .modal-contentPort {
    background-color: #F5F5F5;
    margin: 5% auto;
    box-sizing: border-box;
    width: 700px;
    max-height: 714px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  
@media screen and (max-width: 798px) {
    .modalPort{
        width: 100vmin;
        height: 100vmax;
        margin: 5% auto;
    }

    .modal-contentPort{
        width: 95vmin;
        height: auto;
        margin-top: 1rem;
    }
    }

    @media screen and (max-width:798px) {
        .images{
            max-height: 250px;
          vertical-align: top;
          }
    }



  .scale{
    animation: scale 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes scale{
    from{transform: scale(0);}
    to{transform: scale(1);}
  }
  
  #img{
    width: 100%;
    height: 450px;
  }
  
  #details{
    padding: 25px;
    text-align: left;
    position: relative;
    height: 264px;
    box-sizing: border-box;
    border-top: 1px solid #363638;
  }
  
  #details *{
    transition: all .3s;
    color:  rgb(39, 39, 39);
  }
  
  #title{
    color:  rgb(39, 39, 39);
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  #details .button{
    position: absolute;
    width: 30%;
    background: white;
    color: #272727;
    text-align: center;
    left: 25px;
    bottom: 35px;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid black;
  }

  
  #details .iPort{
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 3rem;
    background: -webkit-linear-gradient(45deg,#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #details .button:hover,
  .iPort:hover{
    cursor: pointer;
    background-color: rgb(39, 39, 39);
    opacity: 1;
    color: rgb(255, 255, 255);
    box-shadow: 0px 15px 20px rgba(137, 43, 226, 0.61);
    transform: translateY(-7px);
  }
  
  /* Close Button */
  .close1 {
    color: rgb(19, 19, 19);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
 
  }
  
  .close1:hover,
  .close1:focus,
  .xbtn {
    color: #f70202;
    text-decoration: none;
    cursor: pointer;
  }


 
  .frame{
    
	display: inline-block;
	vertical-align: middle;
	padding: 20px;
	border: 20px solid rgb(29, 29, 29);
	background-color: #eaeaea;
	position: relative;
	transition: .3s ease;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.3),
			  1px 1px 2px rgba(0,0,0,.2),
			  40px 35px 70px -10px rgba(0,0,0,.5),
			  -20px -20px 100px -10px rgba(0, 0, 0, 0.8);
	
	&:before{
		content:" ";
		left: 30px;
		top: 30px;
		bottom: 30px;
		right: 30px;
		position: absolute;
		background: linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(255,255,255,.2) 50%, rgba(255,255,255,0) );
		transition: .3s ease;
	}
	&:hover{
		&:before{
			opacity: 0;
      
		}
	}
	
	img{
		box-shadow: 0 0 2px rgba(0,0,0,.1);
	}

	&.black{
		border: 10px solid #333;
		box-shadow: 	inset 1px 1px 3px rgba(0,0,0,.3),
			  		1px 1px 2px rgba(0,0,0,.2),
			  		40px 35px 70px -10px rgba(0,0,0,.5),
			  		-20px -20px 100px -10px rgba(#333,.2);
	}
	
	&.thick{
		border-width:30px;
	}
	
	figcaption{
		position: absolute;
		top: 100%;
		margin-top: 50px;
		
		h2, span{
			transform: translateY(-30px);
			opacity: 0;
			transition: .3s ease;
		}
		
		h2{
			margin: 0;
		}
		span{
			color: #555;
			transition-delay: .2s;
		}
	}
	
	&:hover{
		transform: scale(1.1);
		figcaption{
			h2,span{
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
}


.picture-frame {
    background-color:rgb(170, 170, 170);
    width: 50%;
    border:black solid 40px;
    -webkit-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
  box-shadow: 4px 13px 59px 8px rgba(0,0,0,0.75);
    margin:40px;
  }
  .matte {
    background-color:#d3d3d3;

    -webkit-box-shadow: inset 10px 10px 37px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 10px 10px 37px 0px rgba(0,0,0,0.75);
  box-shadow: inset 10px 10px 37px 0px rgba(0,0,0,0.75);
  box-shadow: 0 19px 35px rgba(87, 87, 87, 0.514), 0 15px 12px rgba(0, 0, 0, 0.61);
}

  
  .art {
    width:80%;
    margin:10% 10% 10% 10%;
  }

  