@media (max-width:992px) {
    .slider {
        overflow: hidden;
        background: rgb(248, 249, 250);
        position: relative;
        height: 470px;
        width: 100%;

    }
    .boost{
        padding-top: 0rem;
        margin-top: 0rem;
    }
  

    .imgC {
        max-width: 235px;
        border-radius: 10px;
        display: flex;
        width: 100%;
        margin-bottom: 2rem;
    }

    .slider-img {
        width: 400px;
        height: 400px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .rocket {
        width: 300px;
        padding-top: 3rem;
        left: 0;
    }
}

.rocket {
    position: absolute;
    left: 1%;
    top: -10%
}

li {
    list-style: none;
}


.slider {
    background: rgb(248, 249, 250);
    position: relative;
    padding-bottom: 2rem;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.imgC {
    margin-top: 5.5rem;
    border-radius: 10px;
    width: 400px;
    display: flex;
}

@media (min-width:993px){
    .boost{
        padding-top: 6rem;
    }
}

.slider-img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

#ul-parent {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    /*transform-origin: 40% 0;*/

}

#ul-parent li {
    position: absolute;
    width: 100%;
    animation-name: slider;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#ul-parent li:nth-child(1) {
    transform: translateX(0);
    animation-delay: -20s;
}

#ul-parent li:nth-child(2) {
    transform: translateX(550px) translateZ(-300px) rotateY(30deg);
    animation-delay: -15S;
}

#ul-parent li:nth-child(3) {
    transform: translateZ(-500px);
    animation-delay: -10S;
}

#ul-parent li:nth-child(4) {
    transform: translateX(-550px) translateZ(-300px) rotateY(-30deg);
    animation-delay: -5S;
}

@keyframes slider {

    0%,
    20% {
        transform: translateX(0);
    }

    25%,
    45% {
        transform: translateX(550px) translateZ(-300px) rotateY(30deg);
    }

    50%,
    70% {
        transform: translateZ(-500px)
    }

    75%,
    95% {
        transform: translateX(-550px) translateZ(-300px) rotateY(-30deg);
    }

    97% {
        transform: translateX(-550px) translateZ(-300px) rotateY(-30deg) translateX(-400);
    }

    100% {
        transform: translateX(0);

    }
}